<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Login</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Customer Login</h1>

    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" required>
        </div>

        <br>

        <div>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" required>
        </div>

        <br>

        <button type="submit">Login</button>
    </form>

    <br>

    <a th:href="@{/admin/login}">Admin Login</a>
</body>
</html>