<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>Client Sign Up</title>
   <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="page">
    <div class="form-card">
        <h1>Client Sign Up</h1>
        <p>Create your account to book rooms.</p>

        <form>
            <input type="text" placeholder="Full name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">

            <a href="/" class="btn green">Create Account</a>
        </form>

        <a href="/" class="link">Back Home</a>
    </div>
</div>

</body>
</html>