<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="page center-page">

    <div class="form-card login-card">
        <h1>Client Login</h1>

        <form action="/rooms" method="get">
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>

            <button class="btn green">Login</button>
        </form>

        <p class="small-text">
            No account? <a href="/signup">Sign Up</a>
        </p>
    </div>

</div>

</body>
</html>